<div class="static-slider-head" style="background-image: url(assets/images/landingpage/coach-bus.jpg)">
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <!-- Column -->
      <div class="col-lg-12 col-md-12 align-self-center text-center no-trans">
        <h1 class="title">Gaseste-ti cursa potrivita</h1>

        <app-search-trip (searchChanged)="reloadTrips($event)"></app-search-trip>

      </div>
      <!-- Column -->
    </div>
  </div>
</div>

<!-- Row  -->
<div class="container-fluid">
  <div class="row justify-content-center">
    <!-- Column -->
    <div class="col-md-12 no-trans text-center">
      <h2 class="title" *ngIf="searched">Curse</h2>
      <!-- <h6 class="subtitle">
        You can relay on our amazing features list and also our customer
        services will be great experience for you without doubt and in no-time
      </h6> -->
    </div>
    <!-- Column -->
  </div>
  <div class="row m-t-40 justify-content-center">
    <!-- Column -->
    <div class="col-md-12 no-trans border-bottom mb-4" *ngFor="let trip of trips | async">
      <div class="card" data-aos="flip-left" data-aos-duration="1200">
        <div class="row text-center">
          <div class="col-md-3 no-trans">
            <p class="text-dark font-medium">{{ trip.departureLocation }}</p>
            <p class="text-dark font-medium"><i class="ti-arrow-down"></i></p>
            <p class="text-dark font-medium">{{ trip.destination }}</p>
          </div>
          <div class="col-md-3 no-trans">
            <p class="text-dark font-medium">{{ trip.departureTime | date:'medium' }}</p>
            <p class="text-dark font-medium"><i class="sl-icon-clock"></i></p>
            <p class="text-dark font-medium">{{ trip.duration }}</p>
          </div>
          <div class="col-md-3 no-trans">
            <h5 class="font-medium">
              {{ trip.agency.agencyName }}
            </h5>
            <p class="m-t-20">
              {{ trip.destination }}
            </p>
          </div>
          <div class="col-md-3 no-trans">
            <a class="linking font-medium text-themecolor m-t-10 cursor-pointer">
              <span (click)="viewDetail(trip.tripId)">Rezerva locuri</span>
              <i class="ti-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
