<div
    class="banner-innerpage"
    style="background-image: url(assets/images/landingpage/tickets.jpg)"
>
<div class="container">
  <!-- Row  -->
  <div class="row justify-content-center">
    <!-- Column -->
    <div *ngIf="(loggedRegularUser | async) let user" class="col-lg-9 col-md-6 no-trans align-self-center text-center">
      <h1 class="title"> {{ user.username }} </h1>
    </div>
    <!-- Column -->
  </div>
</div>
</div>

<div class="container">
    <app-reservations-list></app-reservations-list>
</div>
