<div class="collapse navbar-collapse hover-dropdown font-14 ml-auto" id="h6-info">
    <ul class="navbar-nav ml-auto  align-items-center">
        <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" routerLink="/trips">
                Trips
            </a>
        </li>
        <li *ngIf="(isLoggedIn | async)" class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" routerLink="/about">
                Your account
            </a>
        </li>
        <li *ngIf="!(isLoggedIn | async)" class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" routerLink="/login">
                Login
            </a>
        </li>
        <li *ngIf="(isLoggedIn | async)" class="nav-item" [routerLinkActive]="['active']">
            <a (click)="logout()" class="nav-link" routerLink="/">
                Logout
            </a>
        </li>
    </ul>
</div>