<div class="row justify-content-center">
    <form [formGroup]="registerForm" (ngSubmit)="register()">
        <div class="form-group col-lg-12 col-md-12 no-trans">
            <input type="text" class="form-control" formControlName="username" placeholder="Username"
                required>
            <div class="help-block text-light font-weight-bold" *ngIf="registerForm.controls['username'].invalid &&
                registerForm.controls['username'].touched">
                Username must have<br/>at least 4 characters
            </div>

            <input type="password" class="form-control" formControlName="password" placeholder="Password"
                required minlength="6">
            <div class="help-block text-light font-weight-bold" *ngIf="registerForm.controls['password'].invalid &&
                registerForm.controls['password'].touched">
                Password must have<br/>at least 6 characters
            </div>

            <input type="text" class="form-control" formControlName="agency" placeholder="Agency"
                required>
            <div class="help-block text-light font-weight-bold" *ngIf="registerForm.controls['agency'].invalid &&
                registerForm.controls['agency'].touched">
                Enter your agency
            </div>

            <input type="text" class="form-control" formControlName="phonenumber" placeholder="Phone number"
                required>
            <div class="help-block text-light font-weight-bold" *ngIf="registerForm.controls['phonenumber'].invalid &&
                registerForm.controls['phonenumber'].touched">
                Enter your phone number
            </div>

            <button type="submit" [disabled]="!registerForm.valid" class="btn btn-lg btn-default shadow-none">
                <span class="p-2 mb-2 btn-block rounded">Create account</span>
            </button>
        </div>
    </form>
</div>