<div
  class="banner-innerpage"
  style="background-image: url(assets/images/landingpage/login.jpg); height: 100vh;"
>
    <!-- Row  -->
    <div class="row h-100 align-items-center justify-content-center">
        <!-- Column -->
        <div class="col-lg-9 col-md-6 no-trans align-self-center text-center">
            <button class="btn btn-default" (click)="switchRegister()" [disabled]="!this.registerAsAgency">
                User account
            </button>
            <button class="btn btn-default" (click)="switchRegister()" [disabled]="this.registerAsAgency">
                Agency account
            </button>

            <div *ngIf="!this.registerAsAgency">
                <h1 class="title">Create user account</h1>
                <app-register-regularuser-form (RegisterClicked)="register($event)" *ngIf="!this.registerAsAgency"></app-register-regularuser-form>
            </div>

            <div *ngIf="this.registerAsAgency">
                <h1 class="title">Create agency account</h1>
                <app-register-agencyuser-form (RegisterClicked)="register($event)" *ngIf="this.registerAsAgency"></app-register-agencyuser-form>
            </div>
        </div>
    </div>
</div>
