<div class="static-slider-head" style="background-image: url(assets/images/landingpage/coach-bus.jpg)">
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <!-- Column -->
      <div class="col-lg-12 col-md-12 align-self-center text-center no-trans">
        <h1 class="title">Gaseste-ti cursa potrivita</h1>
      </div>
    </div>
    <div class="row justify-content-center">
      <app-search-trip (searchChanged)="reloadTrips($event)"></app-search-trip>
      <div>
        <button class="btn btn-lg btn-default shadow-none" routerLink="/createTrip">
          <span class="p-2 mb-2 bg-dark rounded">Creeaza cursa</span>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Row  -->
<div class="container-fluid">
  <div class="row justify-content-center">
    <!-- Column -->
    <div class="col-md-12 no-trans text-center">
      <h2 class="title" *ngIf="searched">Curse</h2>
    </div>
    <!-- Column -->
  </div>
  <div class="row m-t-40 justify-content-center">
    <!-- Column -->
    <div class="col-md-12 no-trans border-bottom mb-4" *ngFor="let trip of trips | async">
      <div class="card" data-aos="flip-left" data-aos-duration="1200">
        <div class="row text-center">
          <div class="col-md-3 no-trans">
            <p class="text-dark font-medium">{{ trip.departureLocation }}</p>
            <p class="text-dark font-medium"><i class="ti-arrow-down"></i></p>
            <p class="text-dark font-medium">{{ trip.destination }}</p>
          </div>
          <div class="col-md-3 no-trans">
            <p class="text-dark font-medium">{{ trip.departureTime | date:'medium' }}</p>
            <p class="text-dark font-medium"><i class="sl-icon-clock"></i></p>
            <p class="text-dark font-medium">{{ trip.duration }}</p>
          </div>
          <div class="col-md-3 no-trans">
            <h5 class="font-medium">
              {{ trip.agency.agencyName }}
            </h5>
            <h5 class="m-t-20">
              Locuri ramase: {{ trip.seatsLeft }}
            </h5>
          </div>
          <div class="col-md-2 no-trans">
            <app-reserve-button (reserveClick)="reserveSeats($event, trip.id)"></app-reserve-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
