<div class="row justify-content-center">
    <form [formGroup]="registerForm" (ngSubmit)="register()">
        <div class="form-group col-lg-12 col-md-12 no-trans">
            <input type="text" class="form-control" formControlName="username" placeholder="Nume de utilizator">
            <input type="password" class="form-control" formControlName="password" placeholder="Parola">
            <input type="text" class="form-control" formControlName="firstname" placeholder="Prenume">
            <input type="text" class="form-control" formControlName="lastname" placeholder="Nume de familie">
            <input type="text" class="form-control" formControlName="phonenumber" placeholder="Numar de telefon">
            <button type="submit" class="btn btn-lg btn-default shadow-none">
                <span class="p-2 mb-2 btn-block rounded">Creeaza cont</span>
            </button>
        </div>
    </form>
</div>