<a *ngIf="!showSeatsInput" class="linking font-medium text-themecolor m-t-10 cursor-pointer">
<span (click)="toggleSeatsInput()">Rezerva locuri</span>
<i class="ti-arrow-right"></i>
</a>

<div class="Parameters" *ngIf="showSeatsInput">
<form class="form-inline justify-content-center" [formGroup]="reserveSeatsForm" (ngSubmit)="reserveSeats()">
    <div class="form-group">
    <input type="number" class="form-control" id="seatsNumber" formControlName="seats" placeholder="numar locuri"/>
    </div>
    <button type="submit" class="btn btn-primary">Rezerva</button>
</form>
</div>